nav {
	margin: 27px auto 0;
	position: relative;
	width: 89%;
	height: 30px;
	background-color: #0A2D72;
	border-radius: 25px;
	font-size: 0;
}

nav a {
	line-height: 36px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 25px;
    margin-left: 40%;
    font-family: 'Acme', sans-serif;
}

.footer{
    margin-top: -1%;
}

h1{
    font-family: 'Acme', sans-serif;
    text-align: center;
}

h2{
  font-family: 'Acme', sans-serif;
  text-align: center;
}

h3{
    font-family: 'Acme', sans-serif;
    text-align: center;
  }
  
  h4{
    font-family: 'Acme', sans-serif;
    text-align: center;
  }
p{
    font-family: 'Acme', sans-serif;
    text-align: center;
    margin-top: 1%;
    font-size: 22px;
  }

.botones{
  display: flex;
  justify-content: center;
  
}

.left{
  font-size: 50px;
  margin-right: 85%;
  color: #0A2D72;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
}

.right{
  font-size: 50px;
  margin-left: 82%;
  color: #0A2D72;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  border: #fff;
  border-radius: 60%;
}

.right:hover {
  color: #f9b515;
  cursor: pointer;
}

.left:hover {
  color: #f9b515;
  cursor: pointer;
}

.card{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    width:500px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 8px #0A2D72;
    border-radius:15px;
    margin-top: 2%;
}

.img{
    width: 280px;
}